<a href="https://colab.research.google.com/github/thenazmulhuda/python_assignment/blob/main/Assignment_on_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment on python basics#
#Name: Nazmul Huda#
#ID: 20229033#
Batch-9th
, Section-A

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

Problem-1: Write a Python program to count the number of characters (character frequency) inastring. Sample String : google.com 
Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
string = "google.com"

# Creating an empty dictionary to store character frequency
char_frequency = {}

# Looping through each character in the string
for char in string:

    # If character is already in the dictionary, increase its count by 1
    if char in char_frequency:
        char_frequency[char] += 1

    # If character is not in the dictionary, add it with a count of 1
    else:
        char_frequency[char] = 1

# Printing the character frequency dictionary
print(char_frequency)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

Problem-2: Write a Python program to check if a given key already exists in a dictionary

In [ ]:
# Sample dictionary 
d = {'apple': 1, 'ball': 2, 'cat': 3} 
# Check if a key exists in the dictionary 
key = 'ball' 
if key in d: 
  print (f"The key '{key}' exists in the dictionary.") 
else: 
  print(f"The key '{key}' does not exist in the dictionary.")

The key 'ball' exists in the dictionary.

Problem-3: Write a Python program that accepts a sequence of comma-separated numbers fromtheuser and generates a list and a tuple of those numbers. 
Sample data : 1, 5, 7, 23 
Expected Output : 
List : ['1', ' 5', ' 7', ' 23'] 
Tuple : ('1', ' 5', ' 7', ' 23')

In [1]:
# Accept comma-separated numbers from user input 
num_sequence = input("Enter a sequence of comma-separated numbers: ") 

# Convert the sequence of numbers to a list and tuple 
num_list = num_sequence.split(',') 
num_tuple = tuple (num_list) 
# Print the list and tuple of numbers 
print("List: ", num_list) 
print("Tuple:", num_tuple)

Enter a sequence of comma-separated numbers: 1, 5, 7, 23
List:  ['1', ' 5', ' 7', ' 23']
Tuple: ('1', ' 5', ' 7', ' 23')

Problem-4: Write a Python program to calculate the number of days between two dates. Sample dates : (2014, 7, 2), (2014, 7, 11) 
Expected output : 9 days

In [ ]:
from datetime import date 
# Define the two dates 
date1 = date(2014, 7, 2) 
date2 = date(2014, 7, 11) 
# Calculate the number of days between the two dates 
delta = date2 - date1 
num_days = delta.days 
# Print the number of days between the two dates 
print("Number of days between", date1, "and", date2, "is:", num_days)

Number of days between 2014-07-02 and 2014-07-11 is: 9

Prpblem-5: Write a Python program to solve (x + y) * (x + y). Test Data : x = 4, y = 3 
Expected Output : (4 + 3) ^ 2) = 49

In [ ]:
# Define the values of x and y 
x = 4 
y = 3 
# Calculate the result of (x + y) (x + y) 
result = (x + y)**2 
# Print the result 
print("({} + {})^2 = {}".format(x, y, result))

(4 + 3)^2 = 49

Proble-6: Write a Python program to compute the future value of a specified principal amount,rate of interest, and number of years. 
Test Data : amt = 10000, int = 3.5, years = 7 
Expected Output : 12722.79

In [ ]:
amt = 10000 
int_rate=3.5 
years = 7 
future_value = amt*(1 + int_rate/100)**years 
print("Future value: ", round (future_value, 2))

Future value:  12722.79

Problem-7: Write a Python program that removes duplicate elements from a given array of numberssothat each element appears only once and returns the new length of the array. 
Sample Input: [0,0,1,1,2,2,3,3,4,4,4] 
Sample Output: 
The list of unique numbers: [0,1,2,3,4] 
length of the unique list : 5

In [ ]:
def remove_duplicates(nums):
    unique_nums = list(set(nums))
    print("The list of unique numbers:", unique_nums)
    return len(unique_nums)

my_nums = [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 4]
new_length = remove_duplicates(my_nums)
print("Length of the unique list:", new_length)

The list of unique numbers: [0, 1, 2, 3, 4]
Length of the unique list: 5

Problem-8: Write a Python program to sort (ascending and descending) a dictionary by key value

In [ ]:
my_dict = {"apple": 5, "banana": 2, "orange": 3, "grape": 1}
print("Original dictionary:", my_dict) 
# sort the dictionary by key in ascending order
sorted_dict_asc = dict(sorted(my_dict.items()))
print("Sorted dictionary by key in ascending order:", sorted_dict_asc)

# sort the dictionary by key in descending order
sorted_dict_desc = dict(sorted(my_dict.items(), reverse=True))
print("Sorted dictionary by key in descending order:", sorted_dict_desc)

Original dictionary: {'apple': 5, 'banana': 2, 'orange': 3, 'grape': 1}
Sorted dictionary by key in ascending order: {'apple': 5, 'banana': 2, 'grape': 1, 'orange': 3}
Sorted dictionary by key in descending order: {'orange': 3, 'grape': 1, 'banana': 2, 'apple': 5}

Problem-9: Write a Python program to add key to a dictionary. Go to the editor Sample Dictionary : {0: 10, 1: 20} 
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
my_dict = {0: 10, 1: 20}
new_key = 2
new_value = 30

my_dict[new_key] = new_value

print("Updated dictionary:", my_dict)

Updated dictionary: {0: 10, 1: 20, 2: 30}

Problem=10: Write a Pandas program to create and display a DataFrame from a specified dictionarydatawhich has the index labels. 
Sample Python dictionary data and list labels: 
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes